.contentPage {
    max-width: 920px;
    background: lavender;
    margin: 0 auto;
    text-align: center; }
   
    div.img {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 5px;
    
    }
    
    div.img:hover {
        border: 1px solid #777;
    }
    
    div.img img {
        width: 100%;
        height: auto;
    }
    div.desc {
        padding: 15px;
        text-align: center;}

        div.spotify {
            text-align: center;
            padding-bottom: 64px;
        }
        
        .spotifyContainer {
            display: inline-block;
        }
        
        .spotifyContainer iframe {
            width: 25rem;
            height: 30rem;
        }

        @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) {
       .spotifyContainer { display: block;}
       .spotifyContainer iframe { height: 100vw; Width: 100vw; }
}


h1,h2, p {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 20;
}