* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1,
h2,
h3,
p {
    margin: 10px;
    
}

p
{font-family: Comic Sans MS, Comic Sans, cursive ;
    margin: 20px;
    font-size: 20px}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

.contentPage {
    max-width: 920px;
    background:lavender;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    background:darkblue;
    text-align: center;
}

.color {
    color:#ec7d00;
    font-weight:bold;
    font-style: italic;
    text-decoration: underline;
}

nav ul li {
    padding: 1% 0;
    margin: 0 2%;
    width: 25%;
    text-align: center;
}

nav ul li a {
    color: #FFF;
    text-decoration:none;  
}

nav ul li a:hover {
    text-decoration:underline;
    text-shadow: 1px 1px 1px #999;
}

form {
    display: flex;
    flex-direction: row;
}

form input[type=submit] {
    border:0;
    color: #ec7d00;
    padding: 4px;
    background: #FFF;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}

form input[type=submit]:hover {
    color: #FFF;
    background: #ec7d00;
}

.gallery img {
    max-width: 250px;
    border-radius: 50%;
    margin: 3% auto;
    display: block;
    box-shadow:  5px 5px 3px blue;
}

aside{
    margin: 2%;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    background: darkblue;
    text-align: center;
}

aside ul li {
    padding: 1% 0;
    margin: 0 2%;
    width: 25%;
    text-align: center;
}

aside ul li a {
    color: white;
}

footer{
    padding: 1% 0;
    background: gray31;
    color: black;
}

