.contentPage {
    max-width: 920px;
    background: lavender;
    margin: 0 auto;
    text-align: center; }
   
    div.img {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 210px;
    
    }
    
    div.img:hover {
        border: 1px solid #777;
    }
    
    div.img img {
        width: 100%;
        height: auto;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
    }

    h1,h2,p {
    font-family: Comic Sans MS, Comic Sans, cursive ;
    margin: 20;
    }